# --- Database ---
DB_USER=name
DB_PASS=secret
DB_HOST=localhost
DB_PORT=3306
DB_NAME=prod_db
DB_ROOT_PASS=secret

# --- Network Settings ---
APP_PORT=8080
# Base URL used by Docker containers to access the application
APP_URL=http://host.docker.internal:${APP_PORT}

# --- SELENIUM ---
SELENIUM_SERVER_PORT=4444
# The URL for tests to reach the Selenium server container from ui-tests container
SELENIUM_SERVER_URI=http://selenium-chrome:${SELENIUM_SERVER_PORT}

# --- Docs publishing ---
# Path where the CI job "publish_docs" uploads generated documentation via SCP.
# This directory is mounted into the Apache container that simulates a docs server.
DOCS_PATH=/opt/my-app-go/godoc
# Port used by the Apache container to serve documentation
APACHE_PORT=8082

# --- Compose Project Name ---
# Used by Docker Compose to isolate environments 
COMPOSE_PROJECT_NAME=my-app-go-prod