<h1>Edit Course</h1>
<form action="/courses/update" method="POST">
    <input type="hidden" name="id" value="{{.Course.ID}}">
    <label>Title:</label><br>
    <input type="text" name="title" value="{{.Course.Title}}" required><br>
    <label>Teacher:</label><br>
    <select name="teacher_id">
        {{range .Teachers}}
        <option value="{{.ID}}" {{if eq .ID $.Course.TeacherID}}selected{{end}}>{{.Name}}</option>
        {{end}}
    </select><br><br>
    <input type="submit" value="Update">
</form>
<a href="/courses">Back to list</a>
