<!DOCTYPE html>
<html>
<head>
    <title>Добавить запись о студенте и его курсе</title>
</head>
<body>
    <h1>Новая запись о студенте и его курсе</h1>
    <form action="/students_courses/insert" method="post">
        <label for="student_id">Студент:</label>
        <select name="student_id" id="student">
            {{ range .Students }}
            <option value="{{ .ID }}">{{ .Name }}</option>
            {{ end }}
        </select>
        <label for="course_id">Курс:</label>
        <select name="course_id" id="course">
            {{ range .Courses }}
            <option value="{{ .ID }}">{{ .Title }}</option>
            {{ end }}
        </select>
        <input type="submit" value="Сохранить">
    </form>
    <a href="/students_courses">Назад к списку</a>
</body>
</html>