<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать запись о преподавателе</title>
</head>
<body>
    <h1>Редактировать запись о преподавателе</h1>
    <form action="/teachers/update" method="POST">
        <input type="hidden" name="id" value="{{.ID}}">
        <label>Имя:</label>
        <input type="text" name="name" value="{{.Name}}" required>
        <button type="submit" data-testid="confirm-edit-teacher-btn">Сохранить</button>
    </form>
    <a href="/teachers">назад к списку</a>
</body>
</html>
